.password_content{
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
}
.pagebody{
    width: 500px;
    margin: 0 auto;
    text-align: left;
}
.pagebody form{
    line-height: 50px;
    font-size: 18px;
}
.phoneBTN{
    background-color: #9b7c33;
    color: #fff;
    font-size: 16px;
    padding: 4px 7px;
    border: none;
}
.password_checkBTN{
    margin: 20px 175px;
    width: 150px;
    height: 40px;
    background-color: #9b7c33;
    color: #fff;
    border: none;
    transition: all 0.3s;
}
.password_checkBTN:hover{
    background-color: #634c17;
}
/* ---0428修改--- */
.password_content a{
    display: inline-block;
    color: #9b7c33;
}